.OrderConfirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px );
}

.OrderConfirmation__content {
    align-items: center;
}

.OrderConfirmation__content p {
    font-size: 1.5rem;
    text-align: center;
}

.OrderConfirmation__content h1 {
    font-size: 2rem;
    text-align: center;
}
