.cart {
    display: flex;
    align-self: center;
    margin-left: 20px;
}
.cart__image {
    width: 36px;
    height: 36px;
}

.cart__item_count {
    width: 24px;
    height: 24px;
    margin-left: -5px;
}

@media all and (max-width: 1024px) {
    .cart {
        margin-top: 5px;
        margin-left: none;
        position: absolute;
        right: 10px;
    }
}
    



  