.coffeeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 100px);
  min-height: 500px;
  margin: 0 auto;
  background-image: url("./latte.webp");
  background-size: cover;
  justify-content: flex-end;
}

.coffeeContainer h1 { 
  text-align: left;
  font-size: 5rem;
  padding: 0 0 20px 20px;
  color: white;
}


@media all and (max-width: 1440px) {

  .coffeeContainer h1 {
   font-size: 3.5rem;
   padding: 0 20px;
  }

  .coffeeMottoContainer {
    width: 70%
  }
}
