.CoffeeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
}

.CoffeeItem__img img {
  width: 80%;
  height: 50%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}

.CoffeeItem__img img:hover {
  transform: scale(1.13);
}

.CoffeeItem__name {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.CoffeeItem__desc {
  font-size: 1.3rem;
  color: #888;
  margin: 0.5rem 0;
}

.CoffeeItem__price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.CoffeeItem_reference {
  font-size: 0.8rem;
  color: #888;
  margin: 0.5rem 0;
  text-align: center;
}

.QuantityUpdateWidget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}


.QuantityUpdateWidget__button {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ccc;
  text-align: center;
  line-height: 30px;
}

.QuantityUpdateWidget__button:active {
    background-color: black;
    color: #fff;
}


