.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  background-color: white;
  width: 100%;
  height: 50px;
  color: black;
  text-align: center;
  transition: all 0.5s ease;
  transition-delay: 0.2s;
}

.Footer p {
  width: fit-content;
}

.Footer:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 767px) {
  .Footer {
    flex-direction: column;
    height: fit-content;
    padding: 0;
  }
}
    

