.about {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);/* 100px is the height of the header  + 50 px is the height of the footer*/
  background-image: url("about.webp");
  background-size: cover;
  background-position: center;
}

.about__div {
  display: block;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.about h1 {
  font-size: 2rem;
  margin: 20px 0;
}

.about p, span {
  width: 58%;
  text-align: justify;
  font-size: 1.1rem;
}

.about span {
  font-size: 0.8rem;
}

@media all and (max-width: 1440px) {
  .about { 
    background-image: url("about_mobile.jpg");
    background-size: auto;
  }

  .about p, span {
    width: 100%;
  }

  .about h1 {
    text-align: center;
  }
}

@media all and (min-width: 1441px) {
  .about p {
    font-size: 1.5rem;
  }
  .about span {
    font-size: 1.25rem;
  }
}
