.about {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.about h1 {
  font-size: 2rem;
  margin: 20px 0;
}

.about p {
  width: 55%;
  text-align: justify;
  font-size: 1.25rem;
  overflow: auto;
}

.about span { 
    font-size: 1.1rem;
}
