.navbar {
  display: flex;
  justify-content: right;
  padding-right: 20px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  height: 100px;
}

.logo {
  height: 80px;
  width: 90px;
  margin: 20px 20px;
  align-self: center;
}

.navbar h1 {
  font-size: 2rem;
  margin-right: auto;
  align-self: center;
}

.navlinks {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  list-style: none;
  align-self: center;
}

