.button {
  display: block;
  margin: 0 0 40px 20px;
  width: 200px;
  min-height: 50px;
  height: fit-content;
  border-radius: 5px;
  border: none;
  background-color: white;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}


.button:hover {
    background-color: black;
    font-size: 1.75rem;
    color: white;
}
/* This is due to a bug in Create App React. Button text colors are not being applied correctly in some browsers.*/
@media screen and (min-width: 1px) {
  .button {
    color: black;
    background-color: white;
  }
}
  






