.OrderDetails { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OrderDetails__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2vh auto;
}


