.card {
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px #ccc;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  height: calc(100vh - 100px);  /* 100px is the height of the header */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}


